<div class="column">
  <nav class='panel'>
    <p class='panel-heading'>Who to Follow</p>
  <div class="panel-block">
    <article class='media'>
      <div class="media-left">
        <figure class='image is-32x32'>
          <%= gravatar_image_tag(User.all.to_a.sample.email, size: 32, alt: User.name) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>
              <% users = User.all.to_a %>
              <% a = users.sample %>
              <%= a.name %>
            </strong>
            <small>@<%= a.username %></small>
          </p>
        </div>
      </div>
    </article>
  </div>

    <div class="panel-block">
    <article class='media'>
      <div class="media-left">
        <figure class='image is-32x32'>
          <%= gravatar_image_tag(User.all.to_a.sample.email, size: 32, alt: User.name) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>
            <% users = User.all.to_a %>
            <% a = users.sample %>
            <%= a.name %>
            </strong>
            <small>@<%= a.username %></small>
          </p>
        </div>
      </div>
    </article>
  </div>
    <div class="panel-block">
    <article class='media'>
      <div class="media-left">
        <figure class='image is-32x32'>
          <%= gravatar_image_tag(User.all.to_a.sample.email, size: 32, alt: User.name) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>
              <% b = users.sample %>
              <%= b.name %>
            </strong>
            <small>@<%= b.username %></small>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
</nav>
</div>